html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Serif', serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: #000;
}

p {
  font-weight: 200;
  font-size: 14px;
  line-height: 26px;
}

a {
  margin-top: 30px;
  margin-right:10px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

span .font-pair1a{
  font-family: 'Roboto', sans-serif;
}

span .font-pair1b{
  font-family: 'ariel', sans-serif;
}


/* add your css below this line */

.hero-background {
  background-image: url("https://images.pexels.com/photos/2341https://images.pexels.com/photos/6143829/pexels-photo-6143829.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=126033/pexels-photo-234133.jpeg") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url ("https://images.pexels.com/photos/4050291/pexels-photo-4050291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed bottom;
}

.second-section-background {
  background: url ("https://images.pexels.com/photos/2438212/pexels-photo-2438212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed bottom;
}

.third-section-background {
  background: url ("https://images.pexels.com/photos/819806/pexels-photo-819806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat fixed bottom;

}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 40px;
  margin: 0;
}

h4 {
  font-size: 40px;
  font-weight: 200;
  line-height: 35px;
  margin: 0;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container {
  background-color: rgb(255, 158, 158);
}

.second-article-container {
  background-color: rgb(248, 196, 248);
}

.third-article-container {
  background-color: rgb(186, 186, 243);
}
