html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Serif', serif;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.hero-content {
  width: 50%;
  text-align: center;
  color: white;
}

nav{
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}
p {
  font-weight: 200;
  font-size: 14px;
  line-height: 26px;
}

a {
  margin-top: 30px;
  margin-right:10px;
  background-color: black;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

span .font-pair1a{
  font-family: 'Georgia', serif;
}

span .font-pair1b{
  font-family: 'ariel', sans-serif;
}


/* add your css below this line */

.hero-background {
  background: url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat fixed center;
  background-size: cover;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section-background {
  background: url("https://images.unsplash.com/photo-1573495804660-b6b271f4c3f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80") no-repeat fixed bottom;
}

.second-section-background {
  background: url("https://images.pexels.com/photos/2438212/pexels-photo-2438212.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat fixed center;
}

.third-section-background {
  background: url("https://images.pexels.com/photos/819806/pexels-photo-819806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat fixed bottom;

}

.with-background {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-weight: 200;
  line-height: 40px;
}

h3 {
  font-size: 55px;
  font-weight: 200;
  line-height: 40px;
  margin: 0;
}

h4 {
  font-size: 35px;
  font-weight: 100;
  line-height: 60px;
  margin: 0;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

.first-article-container {
  background-color: #DCDCDC;
}

.second-article-container {
  background-color: #808080;
}

.third-article-container {
  background-color: #C0C0C0;
}

footer{
  text-align: center;
}